<!-- H E R O -->

<!-- <section class="container-fluid g-0 heroes">
      <picture>
        <img
          src="./assets/images/hero-mouse-2.png"
          class="img-fluid"
          alt="Welcome"
        />
      </picture>
    </section> -->

<!-- <section class="container-fluid g-0 hero-section">
      <video
        autoplay
        loop
        muted
        src="assets/images/ANIMAL FACILiTY.mp4"
      ></video>
    </section> -->

<section class="container-fluid g-0 hero-section">
  <video autoplay loop muted src="assets/images/SAF.mp4"></video>
</section>
