<!-- N A V B A R -->
<nav
  class="navbar sticky-top shadow navbar-expand-lg p-lg-3 yell"
  id="headerNav"
>
  <div class="container-fluid">
    <a
      class="navbar-brand d-block d-lg-none fw-md-bold"
      style="max-width: 70%"
      href="#"
    >
      Small Animal Facility
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item navHover active activePage">
          <a class="nav-link mx-2" aria-current="page" href="#"> Home </a>
        </li>
        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./pages/programs.html"> Programs </a>
        </li>
        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./pages/registration.html">
            Registration
          </a>
        </li>
        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./pages/gallery.html">Gallery</a>
        </li>
        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./pages/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar -->
