<!-- N A V B A R -->
<nav
  class="navbar sticky-top shadow navbar-expand-lg p-lg-3 yell"
  id="headerNav"
>
  <div class="container-fluid">
    <a
      class="navbar-brand d-block d-lg-none fw-md-bold"
      style="max-width: 70%"
      href="#"
    >
      Small Animal Facility
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-1" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item navHover">
          <a class="nav-link mx-2" aria-current="page" href="../index.html">
            Home
          </a>
        </li>
        <li class="nav-item navHover dropdown">
          <a
            class="nav-link dropdown-toggle mx-2"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Programs
          </a>
          <ul class="dropdown-menu text-center">
            <li>
              <a class="dropdown-item border-bottom" href="modules.html"
                >Modules</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="schedule.html">Schedule</a>
            </li>
          </ul>
        </li>
        <li class="nav-item navHover dropdown">
          <a
            class="nav-link dropdown-toggle mx-2"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Registration
          </a>
          <ul class="dropdown-menu text-center">
            <li>
              <a class="dropdown-item border-bottom" href="payment.html"
                >Payment</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="forms.html">Forms</a>
            </li>
          </ul>
        </li>
        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="members.html">Members</a>
        </li>
        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="gallery.html">Gallery</a>
        </li>
        <li class="nav-item navHover active activePage">
          <a class="nav-link mx-2" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar -->
