<!-- P R O F I L E   C A R D -->
<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="card overflow-hidden">
    <div class="d-block justify-content-center">
      <h5
        class="text-center border-bottom py-3 m-0 ltrSpc"
        style="background: #f5f5f5"
      >
        Lorem Ipsum
      </h5>
      <div class="area-1 py-5"></div>
      <div class="text-center px-3">
        <div class="position-relative" style="top: -50px">
          <img
            src="../assets/images/User1.png"
            class="rounded-circle"
            width="100"
          />
          <h4 class="my-3 fw-bold">Prof. Lorem Ipsum</h4>

          <h6 class="fw-normal ltrSpc">
            <i class="fa-solid fa-envelope"></i>
            animalfacility@iiserkol.ac.in
          </h6>

          <p class="my-3 px-5">
            <i class="fa-solid fa-location-dot"></i> Small Animal Facility,
            Indian Institute of Science Education And Research (IISER) Kolkata,
            Mohanpur, West Bengal - 741246, India.
          </p>
          <ul
            class="d-flex flex-wrap justify-content-center list-unstyled m-0 p-0"
          >
            <li
              class="facebook w-25 m-2 p-2 link-sh"
              style="background-color: #ffcc00"
            >
              <i class="fa-brands fa-facebook-f"></i>
            </li>
            <li
              class="twitter w-25 m-2 p-2 link-sh"
              style="background-color: #ffcc00"
            >
              <i class="fa-brands fa-twitter"></i>
            </li>
            <li
              class="googleScholar w-25 m-2 p-2 link-sh"
              style="background-color: #ffcc00"
            >
              <i class="fa-brands fa-google-scholar"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile card -->
