<!-- A B O U T   T H E   W O R K S H O P -->

<section class="container mt-3">
  <h4 class="fs-4 text-black text-center text-uppercase">About the workshop</h4>
  <p style="text-align: justify">
    Our workshop is aimed at providing hands-on training to young students and
    researchers in “handling small animals (mice), ethics, the basics of animal
    house management, different research methodologies for animal research, and
    future perspectives on inter-disciplinary and multi-disciplinary research
    opportunities." In addition, the workshop also aims to put forward an effort
    to minimise the gap between inter-disciplinary and multi-disciplinary
    research opportunities for the well-being of humankind. Participation will
    enhance knowledge of science and contribute to developing multi-dimensional
    research ideas and opportunities. Participants with a certificate of
    participation can add to their skills, which can boost their openness and
    opportunities abroad for higher studies.
  </p>
  <picture>
    <img
      src="./assets/images/collage.jpg"
      class="img-fluid"
      alt="Mouse image"
    />
  </picture>
  <br />
  <!-- Nav tabs -->
  <ul class="nav nav-tabs mt-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#module1">
        Module 1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#module2">Module 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#module3">Module 3</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="module1" class="container tab-pane active">
      <br />
      <h3>Module 1</h3>
      <ol>
        <li>Laboratory Animal Handling (Mice)</li>
        <li>Care</li>
        <li>Ethics</li>
        <li>Basics of Animal House Maintenance & Management</li>
        <li>ABSL2</li>
        <li>Facility Access & Training</li>
        <li>Various Animal Models</li>
        <li>General Anatomy (Demonstration) & Physiology (Theory)</li>
        <li>Anesthesia</li>
        <li>Euthanasia</li>
        <li>Dissection (Mice)</li>
        <li>Instrumentation (Demonstration & Access)</li>
      </ol>
    </div>
    <div id="module2" class="container tab-pane fade">
      <br />
      <h3>Module 2</h3>
      <ol>
        <li>Histopathology (Theory)</li>
        <li>Histopathology Instruments (Access)</li>
        <li>Dissection (mice)</li>
        <li>Tissue Harvesting</li>
        <li>Tissue Processing</li>
        <li>Tissue Molding</li>
        <li>Tissue Sectioning</li>
        <li>Tissue Staining (H& E, LFB, IHC & Western Blot)</li>
        <li>RNA isolation</li>
        <li>Protein Isolation & Quantification</li>
      </ol>
    </div>
    <div id="module3" class="container tab-pane fade">
      <br />
      <h3>Module 3</h3>
      <ol>
        <li>Tissue Harvesting</li>
        <li>RNA Extraction</li>
        <li>Real Time PCR</li>
        <li>RT PCR</li>
        <li>Genotyping</li>
        <li>Western Blot</li>
        <li>IHC</li>
        <li>Flow Cytometry</li>
        <li>Microscopy</li>
        <li>In-vivo Imaging</li>
      </ol>
    </div>
  </div>
</section>
