<h3 class="fs-1 mt-5 mb-4 text-black text-center text-uppercase">
  About IISER Kolkata
</h3>
<div class="container">
  <div class="d-flex g-1 gap-3">
    <div class="IISER-img--container">
      <picture>
        <img src="./assets/images/IISER.jpeg" class="img-fluid" alt="IISER" />
      </picture>
    </div>
    <div class="">
      <p style="text-align: justify">
        IISER-Kolkata was established in 2006 as autonomous institute for higher
        education by the Ministry of Education, Government of India. The basic
        idea of IISER is to create research Universities of the highest caliber
        in which teaching and education will be totally integrated with the
        state of the art research. IISER-K has a vibrant campus with strong
        faculty members of repute and supportive non-teaching staff members. The
        students pursuing various degrees are among the best in the country and
        have established a commendable culture.
      </p>
    </div>
  </div>
</div>
