<!-- C O U R S E S -->
<section class="container px-lg-5 pb-lg-5 container-scroll-5">
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-semibold">Module 1</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹3,500
            <p class="text-muted fw-light">(one-time)</p>
          </h5>
          <ul class="list-unstyled mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="mb-2">
            <i
              ><a
                class="icon-link icon-link-hover"
                href="https://www.google.com"
              >
                more details
                <i class="bi bi-arrow-right"></i> </a
            ></i>
          </div>
          <button
            type="button"
            class="w-75 btn my-2 rounded-pill fw-semibold yellBtn"
          >
            Register now
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-semibold">Module 2</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹6,000
            <p class="text-muted fw-light">(one-time)</p>
          </h5>
          <ul class="list-unstyled mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="mb-2">
            <i
              ><a
                class="icon-link icon-link-hover"
                href="https://www.google.com"
              >
                more details
                <i class="bi bi-arrow-right"></i> </a
            ></i>
          </div>
          <button
            type="button"
            class="w-75 btn my-2 rounded-pill fw-semibold yellBtn"
          >
            Register now
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-semibold">Module 3</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹10,000
            <p class="text-muted fw-light">(one-time)</p>
          </h5>
          <ul class="list-unstyled mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="mb-2">
            <i
              ><a
                class="icon-link icon-link-hover"
                href="https://www.google.com"
              >
                more details
                <i class="bi bi-arrow-right"></i> </a
            ></i>
          </div>
          <button
            type="button"
            class="w-75 btn my-2 rounded-pill fw-semibold yellBtn"
          >
            Register now
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-semibold">Module 4</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹20,000
            <p class="text-muted fw-light">(one-time)</p>
          </h5>
          <ul class="list-unstyled mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
          <div class="mb-2">
            <i
              ><a
                class="icon-link icon-link-hover"
                href="https://www.google.com"
              >
                more details
                <i class="bi bi-arrow-right"></i> </a
            ></i>
          </div>
          <button
            type="button"
            class="w-75 btn my-2 rounded-pill fw-semibold yellBtn"
          >
            Register now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center card-sh">
    <div class="card-header py-3">
      <h5 class="my-0 fw-semibold">Module 5</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
      <p class="card-text text-start justified">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
        deleniti ipsam eum sapiente. Rerum neque eligendi earum minima corrupti
        autem cum ratione possimus, numquam necessitatibus consectetur vitae.
        Vitae temporibus deleniti, laudantium distinctio non, aspernatur alias
        quae rerum, laboriosam perferendis numquam id deserunt eligendi! Sint ut
        consequatur deserunt tempora? Tempore, incidunt?
      </p>

      <button
        type="button"
        class="btn px-5 my-2 rounded-pill fw-semibold yellBtn"
      >
        Register now
      </button>
    </div>
  </div>

  <h2>Schedule details</h2>
  <p>Lorem, ipsum.</p>
</section>
<!-- courses -->
