<!-- A B O U T   I I S E R   K O L K A T A -->

<section class="container mt-3">
  <div class="row">
    <div
      class="col-lg-6 g-0 d-flex flex-column flex-wrap justify-content-center"
    >
      <div
        class="container mt-3 d-flex flex-column flex-wrap justify-content-center p-lg-5"
      >
        <h4 class="fs-4 text-black text-center text-uppercase">
          About IISER Kolkata
        </h4>
        <p style="text-align: justify">
          The Indian Institute of Science Education Research (IISER) Kolkata was
          established in 2006 as an autonomous institute for higher education by
          the Ministry of Education, Government of India. The basic idea of
          IISER is to create research universities of the highest caliber in
          which teaching and education will be totally integrated with the state
          of the art research. IISER-K has a vibrant campus with strong faculty
          members of repute and a supportive non-teaching staff. The students
          pursuing various degrees are among the best in the country and thus
          far have established a commendable culture.
        </p>
        <a
          class="btn btn-primary fw-semibold rounded-pill px-4 my-4 yell"
          style="--bs-btn-font-size: 1rem"
          href="https://www.iiserkol.ac.in"
          role="button"
          >Learn More</a
        >
      </div>
    </div>
    <div class="col-lg-6 g-0 d-flex flex-column my-auto ps-lg-5 p-lg-5">
      <div
        id="carouselExampleInterval"
        class="conatiner px-3 carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner car-sh">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              src="assets/images/IISER-2.jpeg"
              class="d-block img-fluid"
              alt="IISER"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/images/IISER-3.jpeg"
              class="d-block img-fluid"
              alt="IISER"
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="assets/images/IISER-4.jpeg"
              class="d-block img-fluid"
              alt="IISER"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
