<!-- P R O G R A M  D E T A I L S -->
<section class="container mt-3">
  <div class="accordion" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          Module #1
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body justified">
          1) Laboratory Animal Handling (Mice), 2) Care, 3) Ethics, 4) Basics of
          Animal House Maintenance & Management , 5) ABSL2 Facility Access &
          Training , 6) Various Animal Models 7) General Anatomy (Demonstration)
          & Physiology (Theory) 8) Anesthesia 9) Euthanasia 10) Dissection
          (Mice), 11) Instrumentation (Demonstration & Access).

          <br />
          <br />

          Number of days: 5 days <br />
          Minimum Eligibility: Admission in Bachelors (Any disciplines)
          <br />
          Cohort size: 30 <br />
          Registration fee: Rs.3500/-
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Module #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          1) Histopathology (Theory), 2) Histopathology Instruments (Access), 3)
          Dissection (mice) , 4) Tissue Harvesting, 5) Tissue Processing , 6)
          Tissue Molding 7) Tissue Sectioning 8) Tissue Staining (H& E, LFB, IHC
          & Western Blot), 9) RNA isolation, 10) Protein Isolation &
          Quantification.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Module #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          1) Tissue Harvesting), 2) RNA Extraction, 3) Real Time PCR, 4) RT PCR,
          5) Genotyping, 6) Western Blot , 7) IHC, 8) Flow Cytometry, 9)
          Microscopy, 10) In-vivo Imaging.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          Module #4
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
          corrupti? Id, rem? Quos, architecto ea. Libero magni autem
          consectetur, dolore doloremque dignissimos neque officia eligendi vero
          eveniet quod at quos deleniti soluta cumque deserunt rem non numquam
          atque. Accusantium amet saepe doloribus sed odio. Accusantium nulla
          reiciendis labore ipsum atque assumenda! Illo, corporis ratione
          laboriosam quibusdam dicta suscipit libero eveniet! Porro, consectetur
          aut dicta odio est non totam facere excepturi magni culpa dolores
          itaque incidunt mollitia praesentium vel reiciendis recusandae
          possimus ducimus. Dolor, amet nam hic obcaecati labore pariatur sequi
          mollitia adipisci blanditiis ea molestiae expedita quo vero, officia
          quae.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- program details -->
