<!-- begin navbar -->
<nav
  class="navbar sticky-top shadow navbar-expand-lg p-lg-3 yell"
  id="headerNav"
>
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none fw-md-bold mw-75" href="#">
      Animal Facility @ IISER-K
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-1" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item navHover active activePage">
          <a class="nav-link mx-2" aria-current="page" href="#"> Home </a>
        </li>
        <li class="nav-item navHover dropdown">
          <a
            class="nav-link dropdown-toggle mx-2"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Programs
          </a>
          <ul class="dropdown-menu text-center">
            <li>
              <a class="dropdown-item border-bottom" href="./p/modules.html">
                Modules
              </a>
            </li>

            <li>
              <a class="dropdown-item border-bottom" href="./p/schedule.html">
                Schedule
              </a>
            </li>

            <li>
              <a class="dropdown-item border-bottom" href="./p/register.html">
                Registration
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="./p/participants.html">
                Participants
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./p/research.html">Research</a>
        </li>

        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./p/services.html">Services</a>
        </li>

        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./p/facility.html">Facility</a>
        </li>

        <li class="nav-item navHover">
          <a class="nav-link mx-2" href="./p/contact.html">Contact</a>
        </li>

        <li class="nav-item navHover dropdown">
          <a
            class="nav-link dropdown-toggle mx-2"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            More
          </a>
          <ul class="dropdown-menu text-center">
            <li>
              <a class="dropdown-item border-bottom" href="./p/sop.html">
                SOP's
              </a>
            </li>

            <li>
              <a class="dropdown-item border-bottom" href="./p/forms.html">
                Forms
              </a>
            </li>

            <li>
              <a class="dropdown-item border-bottom" href="./p/gallery.html">
                Gallery
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="./p/contact.html#members">
                Members
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item navHover">
        <button id="colorPickerBtn" class="btn yell">
          <i class="bi bi-palette"></i>
        </button>
      </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- end navbar -->
