<!-- begin core members -->
<section class="container text-center targetLink" id="members">
  <h4
    class="fs-3 fw-800 mt-5 py-2 text-center text-uppercase border-top border-bottom text-primary"
  >
    Core Members
  </h4>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-footer">
          <small class="text-body-secondary fw-bold">Chairperson</small>
        </div>
        <img
          src="../assets/images/profs/1.png"
          class="card-img-top w-50 rounded-circle mx-auto my-3"
          alt="Prof.JDS"
        />
        <div class="card-body">
          <h5 class="card-title">Prof. Jayasri Das Sarma</h5>
          <p class="card-text my-3 px-3">
            <a
              href="mailto:dassarmaj@iiserkol.ac.in"
              class="text-decoration-none text-body-secondary small text-nowrap"
            >
              <i class="bi bi-envelope-fill"></i>&nbsp; dassarmaj@iiserkol.ac.in
            </a>
          </p>
          <hr />
          <p class="card-text text-body-secondary small">
            <i class="bi bi-geo-alt-fill">&nbsp;</i> Office 226, Second floor,
            Teaching and Research Complex, Indian Institute of Science Education
            And Research (IISER) Kolkata, Mohanpur, West Bengal - 741246, India.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-footer">
          <small class="text-body-secondary fw-bold">In Charge</small>
        </div>
        <img
          src="../assets/images/profs/2.png"
          class="card-img-top w-50 rounded-circle mx-auto my-3"
          alt="Prof. RD"
        />
        <div class="card-body">
          <h5 class="card-title">Prof. Rupak Dutta</h5>
          <p class="card-text my-3 px-3">
            <a
              href="mailto:rupakdatta@iiserkol.ac.in"
              class="text-decoration-none text-body-secondary small text-nowrap"
            >
              <i class="bi bi-envelope-fill"></i>&nbsp;
              rupakdatta@iiserkol.ac.in
            </a>
          </p>
          <hr />
          <p class="card-text text-body-secondary small">
            <i class="bi bi-geo-alt-fill">&nbsp;</i> Office 223, Second floor,
            Teaching and Research Complex, Indian Institute of Science Education
            And Research (IISER) Kolkata, Mohanpur, West Bengal - 741246, India.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-footer">
          <small class="text-body-secondary fw-bold">Veterinarian</small>
        </div>
        <img
          src="../assets/images/profs/3.png"
          class="card-img-top w-50 rounded-circle mx-auto my-3"
          alt="Prof.AIM"
        />
        <div class="card-body">
          <h5 class="card-title">Prof. Amirul Islam Mallik</h5>
          <p class="card-text my-3 px-3">
            <a
              href="mailto:amallick@iiserkol.ac.in"
              class="text-decoration-none text-body-secondary small text-nowrap"
            >
              <i class="bi bi-envelope-fill"></i>&nbsp; amallick@iiserkol.ac.in
            </a>
          </p>
          <hr />
          <p class="card-text text-body-secondary small">
            <i class="bi bi-geo-alt-fill">&nbsp;</i> E249, Second floor,
            Teaching and Research Complex, Indian Institute of Science Education
            And Research (IISER) Kolkata, Mohanpur, West Bengal - 741246, India.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end core members -->
