<!-- begin modules -->
<section class="container px-lg-5 pb-lg-5 container-scroll-5">
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-bold">Module 1</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹6,000
            <span class="text-muted fw-light fs-6">(one-time)</span>
          </h5>
          <div class="mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>

            <ul class="list-unstyled d-inline-block text-center">
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Euthanasia
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Protein Isolation
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Tissue
                Harvesting
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Tissue
                Processing
              </li>
            </ul>
          </div>
          <div class="mb-2">
            <i>
              <a
                class="icon-link icon-link-hover"
                href="./p/modules.html#Module01"
              >
                more details
                <i class="bi bi-arrow-right"></i>
              </a>
            </i>
          </div>
          <!-- <a
            class="btn w-75 my-2 rounded-pill fw-bold yellBtn"
            href="https://forms.gle/SypnSYAxhN6GenhbA"
            rel="noopener noreferrer"
            target="_blank"
            role="button"
          >
            Register now
          </a> -->

          <!-- Button trigger modal -->
          <button
            class="btn w-75 my-2 rounded-pill fw-bold yellBtn"
            data-bs-target="#modalModule01"
            data-bs-toggle="modal"
            type="button"
          >
            Register Now
          </button>

          <!-- Modal -->
          <div
            aria-hidden="true"
            aria-labelledby="exampleModalLabel1"
            class="modal fade"
            id="modalModule01"
            tabindex="-1"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel1">
                    Pay here &amp; Register
                    <span class="text-danger">Module 1</span>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    tabindex="-1"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <table>
                    <tbody>
                      <tr>
                        <td class="p-4">
                          <b class="text-decoration-underline fs-5">
                            Bank Account Details:
                          </b>
                          <br />
                          <b>Amount:</b> Rs. 6,000/- <br />
                          <b>Account Number:</b>&nbsp; 913010056011865
                          <br />
                          <b>Bank Name:</b> &nbsp;AXIS Bank <br />
                          <b>Branch Name:</b>&nbsp; Kalyani <br />
                          <b>IFSC Code:</b>&nbsp; UTIB0000481 <br />
                          <b>Swift Code:</b>&nbsp; AXISINBB277 <br />
                          <b>Branch Address:</b>&nbsp; B-9/276 (CA), Near
                          Central Park, Nadia District, West Bengal - 741235.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <a
                    class="btn my-2 rounded-pill fw-semibold yellBtn"
                    tabindex="-1"
                    href="https://forms.gle/SypnSYAxhN6GenhbA"
                    target="_blank"
                    >Register For Module 1</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-bold">Module 2</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹8,000
            <span class="text-muted fw-light fs-6">(one-time)</span>
          </h5>
          <div class="mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <ul class="list-unstyled d-inline-block text-center">
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Tissue
                Molding
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Histopathology
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Tissue
                Staining
              </li>

              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Tissue
                Sectioning
              </li>
            </ul>
          </div>
          <div class="mb-2">
            <i>
              <a
                class="icon-link icon-link-hover"
                href="./p/modules.html#Module02"
              >
                more details
                <i class="bi bi-arrow-right"></i>
              </a>
            </i>
          </div>
          <!-- <a
            class="btn w-75 my-2 rounded-pill fw-semibold yellBtn"
            href="https://forms.gle/kE9ZL4SVVsiLEc2w8"
            rel="noopener noreferrer"
            target="_blank"
            role="button"
            >
            Register now
            </a> -->

          <!-- Button trigger modal -->
          <button
            class="btn w-75 my-2 rounded-pill fw-bold yellBtn"
            data-bs-target="#modalModule02"
            data-bs-toggle="modal"
            type="button"
          >
            Register Now
          </button>

          <!-- Modal -->
          <div
            aria-hidden="true"
            aria-labelledby="exampleModalLabel2"
            class="modal fade"
            id="modalModule02"
            tabindex="-1"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel2">
                    Pay here &amp; Register
                    <span class="text-danger">Module 2</span>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    tabindex="-1"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <table>
                    <tbody>
                      <tr>
                        <td class="p-4">
                          <b class="text-decoration-underline fs-5">
                            Bank Account Details:
                          </b>
                          <br />
                          <b>Amount:</b>Rs. 8,000/- <br />
                          <b>Account Number:</b>&nbsp; 913010056011865
                          <br />
                          <b>Bank Name:</b> &nbsp;AXIS Bank <br />
                          <b>Branch Name:</b>&nbsp; Kalyani <br />
                          <b>IFSC Code:</b>&nbsp; UTIB0000481 <br />
                          <b>Swift Code:</b>&nbsp; AXISINBB277 <br />
                          <b>Branch Address:</b>&nbsp; B-9/276 (CA), Near
                          Central Park, Nadia District, West Bengal - 741235.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <a
                    class="btn my-2 rounded-pill fw-semibold yellBtn"
                    href="https://forms.gle/kE9ZL4SVVsiLEc2w8"
                    tabindex="-1"
                    target="_blank"
                    >Register For Module 2</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-semibold">Module 3</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹12,000
            <span class="text-muted fw-light fs-6">(one-time)</span>
          </h5>
          <div class="mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <ul class="list-unstyled d-inline-block text-center">
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Genotyping
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; RNA
                Extraction
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Flow
                Cytometry
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                In-vivo Imaging
              </li>
            </ul>
          </div>
          <div class="mb-2">
            <i>
              <a
                class="icon-link icon-link-hover"
                href="./p/modules.html#Module03"
              >
                more details
                <i class="bi bi-arrow-right"></i>
              </a>
            </i>
          </div>
          <!-- <a
            class="btn w-75 my-2 rounded-pill fw-semibold yellBtn"
            href="https://forms.gle/8KHMPqqASgzsfPAP9"
            rel="noopener noreferrer"
            target="_blank"
            role="button"
          >
            Register now
          </a> -->

          <!-- Button trigger modal -->
          <button
            class="btn w-75 my-2 rounded-pill fw-bold yellBtn"
            data-bs-target="#modalModule03"
            data-bs-toggle="modal"
            type="button"
          >
            Register Now
          </button>

          <!-- Modal -->
          <div
            aria-hidden="true"
            aria-labelledby="exampleModalLabel3"
            class="modal fade"
            id="modalModule03"
            tabindex="-1"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel3">
                    Pay here &amp; Register
                    <span class="text-danger">Module 3</span>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    tabindex="-1"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <table>
                    <tbody>
                      <tr>
                        <td class="p-4">
                          <b class="text-decoration-underline fs-5">
                            Bank Account Details:
                          </b>
                          <br />
                          <b>Amount:</b> Rs. 12,000/- <br />
                          <b>Account Number:</b>&nbsp; 913010056011865
                          <br />
                          <b>Bank Name:</b> &nbsp;AXIS Bank <br />
                          <b>Branch Name:</b>&nbsp; Kalyani <br />
                          <b>IFSC Code:</b>&nbsp; UTIB0000481 <br />
                          <b>Swift Code:</b>&nbsp; AXISINBB277 <br />
                          <b>Branch Address:</b>&nbsp; B-9/276 (CA), Near
                          Central Park, Nadia District, West Bengal - 741235.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <a
                    class="btn my-2 rounded-pill fw-semibold yellBtn"
                    tabindex="-1"
                    href="https://forms.gle/8KHMPqqASgzsfPAP9"
                    target="_blank"
                    >Register For Module 3</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 card-sh">
        <div class="card-header py-3">
          <h5 class="my-0 fw-semibold">Module 4</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title pricing-card-title">
            ₹22,500
            <span class="text-muted fw-light fs-6">(one-time)</span>
          </h5>
          <div class="mt-3 mb-2">
            <h6 class="fw-semibold text-decoration-underline">You'll learn:</h6>
            <ul class="list-unstyled d-inline-block text-center">
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Transfection
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp; Drug
                Treatment
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Cryopreservation
              </li>
              <li>
                <i class="bi bi-patch-check-fill text-success"></i>&nbsp;
                Immunofluorescence
              </li>
            </ul>
          </div>
          <div class="mb-2">
            <i>
              <a
                class="icon-link icon-link-hover"
                href="./p/modules.html#Module04"
              >
                more details
                <i class="bi bi-arrow-right"></i>
              </a>
            </i>
          </div>
          <!-- <a
            class="btn w-75 my-2 rounded-pill fw-semibold yellBtn"
            href="https://forms.gle/HuPXBqQsTjKRNs63A"
            rel="noopener noreferrer"
            target="_blank"
            role="button"
          >
            Register now
          </a> -->

          <!-- Button trigger modal -->
          <button
            class="btn w-75 my-2 rounded-pill fw-bold yellBtn"
            data-bs-target="#modalModule04"
            data-bs-toggle="modal"
            type="button"
          >
            Register Now
          </button>

          <!-- Modal -->
          <div
            aria-hidden="true"
            aria-labelledby="exampleModalLabel4"
            class="modal fade"
            id="modalModule04"
            tabindex="-1"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel4">
                    Pay here &amp; Register
                    <span class="text-danger">Module 4</span>
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    tabindex="-1"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <table>
                    <tbody>
                      <tr>
                        <td class="p-4">
                          <b class="text-decoration-underline fs-5">
                            Bank Account Details:
                          </b>
                          <br />
                          <b>Amount:</b> Rs. 22,500/- <br />
                          <b>Account Number:</b>&nbsp; 913010056011865
                          <br />
                          <b>Bank Name:</b> &nbsp;AXIS Bank <br />
                          <b>Branch Name:</b>&nbsp; Kalyani <br />
                          <b>IFSC Code:</b>&nbsp; UTIB0000481 <br />
                          <b>Swift Code:</b>&nbsp; AXISINBB277 <br />
                          <b>Branch Address:</b>&nbsp; B-9/276 (CA), Near
                          Central Park, Nadia District, West Bengal - 741235.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <a
                    class="btn my-2 rounded-pill fw-semibold yellBtn"
                    tabindex="-1"
                    href="https://forms.gle/HuPXBqQsTjKRNs63A"
                    target="_blank"
                    >Register For Module 4</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Module5" class="card text-center card-sh">
    <div class="card-header py-3">
      <h5 class="my-0 fw-semibold">
        Module 5&nbsp;
        <span class="badge text-bg-warning fa-beat">New</span>
      </h5>
    </div>
    <div class="card-body">
      <h5 class="card-title py-2">
        Learn, Inspire, and Empower with IISER Kolkata Animal Facility &amp;
        <b class="text-success">&nbsp;Bio-inspired</b>.
      </h5>
      <p class="card-text px-3 justify">
        The Module 5 is currently offered jointly in collaboration with IISER
        Kolkata Animal Facility and Bio-Inspired Innovation Pvt Ltd. incubated
        at RISE IISER KOLKATA. This Joint initiative is going to offer students
        a valuable entry into biological research. Led by Prof. Jayasri Das
        Sarma, this initiative aims to enhance research skills, understand
        ethics, and cultivate fundamental concepts. Due to space constraints,
        the program operates through Bio-Inspired Pvt Ltd. Interns delve into
        various subjects like Neurovirology, Neuroimmunology and Neurobiology of
        Diseases in addition to Cancer Biology, learning laboratory techniques,
        cell culture, molecular biology, histopathology, and imaging. The
        duration ranges from two months to a year, offering a hands-on
        experience akin to mini thesis projects.
      </p>

      <a
        class="btn px-4 my-2 rounded-pill fw-semibold yellBtn disabled"
        href="#"
      >
        Click to apply&nbsp; <i class="bi bi-box-arrow-up-right"></i>
      </a>
    </div>
  </div>
</section>
<!-- end modules -->
