<!-- A B O U T   T H E   W O R K S H O P -->
<section class="container mt-3 p-lg-5 container-scroll-4">
  <h4 class="fs-3 my-4 text-black text-center text-uppercase">
    About the workshop
  </h4>
  <p class="justify">
    Our workshop is aimed at providing hands-on training to young students and
    researchers in “handling small animals (mice), ethics, the basics of animal
    house management, different research methodologies for animal research, and
    future perspectives on inter-disciplinary and multi-disciplinary research
    opportunities." In addition, the workshop also aims to put forward an effort
    to minimise the gap between inter-disciplinary and multi-disciplinary
    research opportunities for the well-being of humankind. Participation will
    enhance knowledge of science and contribute to developing multi-dimensional
    research ideas and opportunities. Participants with a certificate of
    participation can add to their skills, which can boost their openness and
    opportunities abroad for higher studies.
  </p>
  <picture>
    <img src="./assets/images/collage.jpg" class="img-fluid" alt="Collage">
  </picture>
</section>
<!-- about the workshop -->