<!-- A B O U T   S A F -->
<section class="container my-5 container-scroll-3">
  <div class="row d-flex flex-column-reverse flex-lg-row">
    <div class="col-lg-6 g-0 my-lg-auto my-5 pe-lg-5 p-lg-5">
      <div id="carouselExampleInterval" class="px-3 carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner car-sh-rev">
          <div class="carousel-item active">
            <img src="assets/images/mouse-raw.jpg" class="d-block img-fluid" alt="IISER">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 g-0 d-flex flex-column flex-wrap justify-content-center">
      <div class="container d-flex flex-column justify-content-center p-lg-5">
        <h4 class="fs-3 my-4 text-black text-center text-uppercase">
          Small Animal Facility
        </h4>
        <p class="justify">
          IISER Kolkata's Small Animal Facility (SAF) is registered by the
          "Committee for the Purpose of Control and Supervision of Experiments
          on Animals (CPCSEA)”, a body of the Government of India. The
          “Institutional Animal Ethics Committee (IAEC)" evaluates and approves
          all the conduct of animal experiments as per CPCSEA rules &
          regulations. The Animal facility, facilitates animal research of
          immune-competence and suppressive small animals under a well
          established "Animal Bio-Safety Level 2 (ABSL2)" state of the art
          facility. The facility is well equipped with modern instruments as per
          scientific standards, and houses a well trained technical staff &
          various scientific teams.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- about saf -->