<!-- begin seo -->
<title>Animal Facility - IISER Kolkata</title>
<link rel="shortcut icon" href="./assets/favicon/mouse.ico" type="image/x-icon">
<meta name="description"
  content="IISER Kolkata's Animal Facility is registered by the Committee for the Purpose of Control and Supervision of Experiments on Animals (CCSEA), a body of the Government of India. This facility allows for animal research on immune-competence and suppressive small animals in a state-of-the-art Animal Bio-Safety Level 2 (ABSL2) environment.">
<meta name="keywords"
  content="Animal Facility, Internships, BioInspired, IISER Kolkata, SAF, Animal Research, Research, India">
<meta name="author" content="DesignDistrict.in">

<!-- Facebook Card -->
<meta property="og:type" content="website">
<meta property="og:url" content="./">
<meta property="og:title" content="Animal Facility">
<meta property="og:description"
  content="IISER Kolkata's Animal Facility is registered by the Committee for the Purpose of Control and Supervision of Experiments on Animals (CCSEA), a body of the Government of India. This facility allows for animal research on immune-competence and suppressive small animals in a state-of-the-art Animal Bio-Safety Level 2 (ABSL2) environment.">
<meta property="og:image" content="./assets/images/lab/4.jpg">

<!-- Twitter Card -->
<meta property="twitter:card" content="Website">
<meta property="twitter:url" content="./">
<meta property="twitter:title" content="Animal Facility">
<meta property="twitter:description"
  content="IISER Kolkata's Animal Facility is registered by the Committee for the Purpose of Control and Supervision of Experiments on Animals (CCSEA), a body of the Government of India. This facility allows for animal research on immune-competence and suppressive small animals in a state-of-the-art Animal Bio-Safety Level 2 (ABSL2) environment.">
<meta property="twitter:image" content="./assets/images/lab/4.jpg">
<!-- end seo -->